<body>
  <header class="pageHeader">
    <br>
    <!-- <p [style.visibility]="'hidden'"></p> -->
    <button style="float: left; margin-left: 1%;" pButton type="button" class="p-button-raised p-button-secondary" icon="pi pi-arrow-left" (click)="callParentBack()"></button>
    <button style="float: left; margin-left: 10px;" pButton type="button" class="p-button-raised p-button-success" icon="pi pi-plus" (click)="callParentDiary()"></button>
    <app-logout class="logout" ></app-logout>
  </header>
</body>
<br>
<br>
<br>
<br>
<br>
