<h1 mat-dialog-title>GROUP</h1>
<div mat-dialog-content>
  <p>Name</p>
  <mat-form-field>
    <input required matInput [(ngModel)]="data.name" />
  </mat-form-field>
  <div>
    <mat-form-field class="form-field">
      <mat-label>Color</mat-label>
      <input
        matInput
        type="color"
        [(ngModel)]="data.color"
        (ngModelChange)="data.color = $event"
        placeholder="Color"
      />
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">No Thanks</button>
    <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
  </div>
</div>
