<div class="background" style="background-image: url('assets/yellow.jpg')">
  <div class="blur">
    <div class="position-divs">
      <div class="register" onclick="location.href='/login';">
        <div class="quote">
          <p class="row1">A little</p>
          <p class="row2">PROGRESS</p>
          <p class="row3">each day adds</p>
          <p class="row4">up to big</p>
          <p class="row5">results.</p>
          <p class="login-sign">LOGIN</p>
        </div>
      </div>
      <div class="login" onclick="location.href='/register'">
        <div class="quote">
          <p class="row1">We all</p>
          <p class="row2">have to decide</p>
          <p class="row3">what to do</p>
          <p class="row4">with the time</p>
          <p class="row5">that is given us.</p>
          <p class="reg-sign">REGISTER</p>
        </div>
      </div>
    </div>
  </div>
</div>
